a:link {
    color: #fcf8e3;
}

/* visited link */
a:visited {
    color: #fcf8e3;
}

/* mouse over link */
a:hover {
    color: #5cb85c;
}

/* selected link */
a:active {
    color: #5cb85c;
}

.footer-section {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the bottom of the page */
    width: 100%; /* Full width */
}